#collageWrapper
{
	width:800px;
	heigh:600px;
	padding:0px;
	margin:0px;
	border:solid 3px red;
	position:relative;
}
#collageWrapper li
{
	position:absolute;
	padding:0px;
	margin:0px;
	border:solid 1px white;
	list-style:none;
}
#weddingHeader
{
	width:225px;
	top:0px;
	left:0px;
	height:150px;
}
#portraitHeader
{
	width:150px;
	top:0px;
	left:225px;
	height:75px;
}
#contactsHeader
{
	width:150px;
	top:75px;
	left:225px;
	height:75px;
}
#portfolioHeader
{
	width:150px;
	top:150px;
	left:0px;
	height:150px;
	background-image:url(img/index-temp.jpg);
	background-repeat:no-repeat;
	background-position:center;
}
#advertiseHeader
{
	width:150px;
	top:150px;
	left:150px;
	height:75px;
}
#projectHeader
{
	width:150px;
	top:225px;
	left:150px;
	height:75px;
}
#newsHeader
{
	width:75px;
	top:150px;
	left:300px;
	height:150px;
}