body
{
background-color:#000000;
color:#FFFFFF;
padding:0px;
margin:0px;
}

h1, h2, h3
{
padding:0px;
margin:0px;
}

.logo
{
width:250px;
height:60px;
background-image:url(../img/index-logo.gif);
background-repeat:no-repeat;
background-position: left;
display:block;
float:left;
position:relative;
padding:0px;
margin:0px;
text-indent: -9999em;
border: none;
}

.menu
{
	text-indent: -9999em;
	width: 100%;
	display:block;
	float:left;
	background-repeat:no-repeat;
	background-position:right;
}

.menuItem
{
background-repeat:no-repeat;
background-position: 0px -60px;

}

.menuItem:hover
{
background-repeat:no-repeat;
background-position: 0px 0px;

}


.mainDiv {
	height:100%;
	margin-left:auto;
	margin-right:auto;
	max-width:900px;
	min-width:900px;
	position:relative;
	text-align:center;
	top:20px;
	width:900px;
}

.contentDiv {
	height:100%;
	max-width:900px;
	min-width:900px;
	position:relative;
	text-align:center;
	top:60px;
	width:900px;
	height:600px;
	border-top: solid 1px red;
	border-bottom: solid 1px red;	
}

.leftMenuDiv {
	height:580px;
	max-width:250px;
	min-width:250px;
	position:relative;
	text-align:right;
	top:10px;
	width:250px;
	border-right: solid 1px grey;
}





.fullsize
{
height:60px;
}

.smallsize
{
height:60px;
}